{
	email {$CADDY_EMAIL}
}

belo.team, www.belo.team {
	encode gzip
	reverse_proxy tibo:80
	header {
		X-Content-Type-Options nosniff
		Referrer-Policy no-referrer
		X-Robots-Tag "noindex, nofollow"
	}
}
